
    body {
        background-image: url(C:\Users\user\Documents\html\Micro2\bg.png);
       
    }


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  
  
  h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    font-family: 'Inter', sans-serif;
  }
  
  .counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
  }
  
  h2 {
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
  }
  
  button {
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 2px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #1573ac;
    color: white;
    font-family: 'Inter', sans-serif;
  }
  
  button:hover {
    margin: 5px;
    background-color: #1573ac;
  }
  
  input[type=number] {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin: 10px 10px;
    border: black;
    border-radius: 5px;
    background-color: #e0dada;
    color: #555;
    font-family: 'Inter', sans-serif;
  }
  
  input[type=number]:focus {
    outline: none;
    font-family: 'Inter', sans-serif;
  }
  
  button:focus,
  input[type=number]:focus {
    box-shadow: 0 0 5px #1573ac;
    font-family: 'Inter', sans-serif;
  }
  